$primary: #ffbbcc;
$secondary: #ffeecc;
$success: #ccedd2;
$danger: #d45d79;
$warning: #ee8572;
$info: #bbded6;
$light: #edf7fa;
$dark: #6c747d;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
);